<div class="wrapper full-height">
    
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Time Manager Project</h3>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="/" >Home</a>
            </li>
            <li>
                <a href="/calender" >Calender/Planner</a>
            </li>
            <li>
                <a href="/timer" >Timer</a>
            </li>
            <li>
                <a href="/to-do-list">To-Do List</a>
            </li>
            <li>
                <a href="/journal">Journal</a>
            </li>
        </ul>
        <a  class="login" href="/login">Login</a>
    </nav>
<router-outlet></router-outlet>
</div>
