<!--<div class="container">
  <div class="md-form">
    <input type="text" placeholder="Title" id="title" ng-required="true">
    <input placeholder="date" ng-required="true" type="text" id="date">
    <textarea class="md-textarea form-control " placeholder="Journal your heart out!" type="text" id="body"></textarea>
    <button type="button" (click)="getValues()">Save</button>
  </div>

</div>
<div class="container">
  <div class="row">
    <div class="col-sm" id="Title">Title/Date</div>
    <div class="col-md" id="Journal">Journal Entries</div>
  </div>
</div>
<div class="container" id="entries">
  <div class="row">-->
    <!-- <a class="col-sm">{{ title.value }} {{ date.value }}</a>
    <a class="col-sm"> {{ body.value }} </a> -->
    <!--<button type="button">Delete</button>
    <button type="button">Edit</button>
  </div>
</div>-->


<section class="todolist">
  <header class="header">
    <h1>To-do List</h1>
    <input class="task" placeholder="Enter a task" autofocus="" input [(ngModel)]="task.taskEntry.description" type="text" (click)="addTask()" />
  </header>

  <section class="main" *ngIf="task.length > 0">
    <div>
      <button class="addTask" (click)="addTask()">Add Task</button>
    </div>
    <ul class="todo-list">
      <li>
        *ngFor="let task of TaskList; let i = index"> {{task.value}}
        <div class="view">
          <input class="toggle" type="checkbox" (click)="toggleTaskCompleted(task)" [checked]="task.completed" />
          <label> {{taskEntry.description.value}}</label>
          <button class="deleteTask" (click)="deleteTask(task)"></button>
        </div>
      </li>
    </ul>
  </section>

<footer class="footer" *ngIf="task.length > 0">
  <span class="task-count"><strong>{{taskEntry.length}}</strong> {{taskEntry.length == 1? 'task': 'tasks'}} left </span>
</footer>
</section>


<!--<h1>To-do List</h1>
<nav id="todo">
  <div class="todo-header">
  </div>
</nav>

<div>
  <button class="addTask" (click)="addTask()">Add Task</button>
</div>

<div class="task" *ngFor="let task of toDoList; let i = index">

  <div>
    <span class="name"> Task: </span>
    <input [(ngModel)]="task.taskEntry" type="text" id="myTask" placeholder="Enter a task" />
  </div>

  <div>
    <span class="delete">
      <button class="deleteTask" (click)="deleteTask(i)">Delete Task</button>
    </span>
  </div>

  <div>
    <span class="saveTask">
      <button class="saveTask" (click)="saveTask(i)">Save Task</button>
    </span>

  </div>

</div>-->
