* {
    box-sizing: border-box;
}

input {
    font-size: 18px;
    color: black;
}

.addTask {
    padding: 2.5px;
    width: 40%;
    background-color: lightgreen;
    float: inherit;
    text-align: center;
    font-size: 15px;
    cursor: default;
    transition: 0.2s;
    border-radius: 0;
}

.addTask:hover {
    background-color: limegreen;
}

.saveTask {
  padding: 2px;
  width: 40%;
  background-color: lightskyblue;
  float: inherit;
  text-align: center;
  font-size: 15px;
  cursor: default;
  transition: 0.2s;
  border-radius: 0;
}

  .saveTask:hover {
    background-color: lightseagreen;
  }

.deleteTask {
  padding: 2.5px;
  width: 40%;
  background-color: lightgrey;
  float: inherit;
  text-align: center;
  font-size: 15px;
  cursor: default;
  transition: 0.2s;
  border-radius: 0;
}
.deleteTask:hover {
    background-color: lightsalmon;
}

.name {
    background-color: lightpink;
}


