<!--<h1>To-do List</h1>
<nav id="todo">
  <div class="todo-header">
  </div>
</nav>

<div>
  <button class="addTask" (click)="addTask()">Add Task</button>
</div>

<div class="task" *ngFor="let task of toDoList; let i = index">

  <div>
    <span class="name"> Task: </span>
    <input [(ngModel)]="task.task" type="text" id="myTask" placeholder="Enter a task" />
  </div>

  <div>
    <span class="delete">
      <button class="deleteTask" (click)="deleteTask(i)"> Delete Task</button>
    </span>
  </div>

</div>-->

<h1>To-do List</h1>

  <div class="md-form">
    <input type="text" placeholder="Add a task!" id="description" ng-required="true">
    <button class="saveTask" (click)="saveTask()">Save Task</button>
  </div>

<div class="container" id="tasks">
  <a class="col-sm" *ngFor="let tasks of task;">
    <ul>
      <li> {{ task.description + task.isDone}}</li>
    </ul>
  </a>
  <button class="getTask" (click)="getTask()">View Tasks</button>
</div>





