* {
    box-sizing: border-box;
}

input {
    font-size: 18px;
    color: blueviolet;
}

.saveTask {
    padding: 2.5px;
    width: 40%;
    background-color: lightpink;
    float: inherit;
    text-align: center;
    font-size: 15px;
    cursor: default;
    transition: 0.2s;
    border-radius: 0;
}

.saveTask:hover {
    background-color: lightgreen;
}

.getTask {
  padding: 2.5px;
  width: 40%;
  background-color: lightskyblue;
  float: inherit;
  text-align: center;
  font-size: 15px;
  cursor: default;
  transition: 0.2s;
  border-radius: 0;
}
.getTask:hover {
    background-color: lightsalmon;
}

.deleteTask {
  padding: 2.5px;
  width: 40%;
  background-color: mediumpurple;
  float: inherit;
  text-align: center;
  font-size: 15px;
  cursor: default;
  transition: 0.2s;
  border-radius: 0;
}





